@model NotesMarketPlace.Models.Admin.SystemConfigurationsModel

@{
    ViewBag.Title = "ManageSystemConfiguration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Show)
{
    <div class="alert @ViewBag.AlertClass alert-dismissible fade show m-2" role="alert">
        <strong>@ViewBag.message</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row heading">
    <div class="col-md-12">
        <h1 class="heading-1">Manage Syatem Configuration</h1>
    </div>
</div>

@using (Html.BeginForm("ManageSystemConfiguration", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="row heading">
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.SupportEmail, "Support email address *", new { @for = "InputSupportEmail" })
                @Html.TextBoxFor(model => model.SupportEmail, new { @class = "form-control", placeholder = "Enter support email address", id = "InputSupportEmail" })
                @Html.ValidationMessageFor(model => model.SupportEmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SupportContact, "Support phone number *", new { @for = "InputSupportContact" })
                @Html.TextBoxFor(model => model.SupportContact, new { @class = "form-control", placeholder = "Enter phone number", id = "InputSupportContact" })
                @Html.ValidationMessageFor(model => model.SupportContact, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Emails, "Email Address(es) (for various events system will send notifications to these users) *", new { @for = "InputEmails" })
                @Html.TextBoxFor(model => model.Emails, new { @class = "form-control", id = "InputEmails", placeholder = "Enter email address" })
                @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FacebookUrl, "Facebook URL", new { @for = "InputFacebookURL" })
                @Html.TextBoxFor(model => model.FacebookUrl, new { @class = "form-control", placeholder = "Enter Facebook url", id = "InputFacebookURL" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TwitterUrl, "Twitter URL", new { @for = "InputTwitterURL" })
                @Html.TextBoxFor(model => model.TwitterUrl, new { @class = "form-control", placeholder = "Enter Twitter url", id = "InputTwitterURL" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LinkedinUrl, "Linkedin URL", new { @for = "InputLinkedinURL" })
                @Html.TextBoxFor(model => model.LinkedinUrl, new { @class = "form-control", placeholder = "Enter Linkedin url", id = "InputLinkedinURL" })
            </div>

            <div class="form-group">
                <label for="file-image">Default image for notes (if seller do not upload)</label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="NoteDisplayPicturePath" />
                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-file.png" height="46" width="50" />
                            <div>Upload a picture</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                        </div>
                    </label>
                    @Html.ValidationMessageFor(model => model.DefaultNoteImg, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label for="file-image">Default profile picture (if seller do not upload)</label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" class="form-control" />
                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="../Content/images/upload-file.png" height="46" width="50" />
                            <div>Upload a picture</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                        </div>
                    </label>
                    @Html.ValidationMessageFor(model => model.DefaultProfileImg, "", new { @class = "text-danger" })

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="margin-left: 15px">
                <button class="btn" type="submit" id="btnSubmit">SUBMIT</button>
            </div>
        </div>
    </div>
}