@model NotesMarketPlace.Models.AddNotesModel

@{
    ViewBag.Title = "AddNotes";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    label {
        margin-bottom: 10px !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }

    .form-group {
        margin-bottom: 30px !important;
    }

    #noOfPages,
    #type {
        margin-top: 20px !important;
    }

    textarea {
        border: 1px solid #d1d1d1;
        width: 1440px;
        height: 153px !important;
        border-radius: 3px;
    }

    #btnSubmit {
        margin-left: 15px;
    }

    .radio1 {
        display: inline-flex;
        position: relative;
        padding: 0 30px 0 50px;
        margin-bottom: 0 !important;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .radio1 input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .radio1 .label-2 {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: #333333;
            position: relative;
            top: 11px;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 42px;
        width: 42px;
        background-color: #fff;
        border: 1px solid #d1d1d1;
        border-radius: 50%;
    }

    /* When the radio button is checked, add a blue background */
    .radio1 input:checked ~ .checkmark {
        background-color: #fff;
        border: 1px solid #6255a5;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .radio1 input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .radio1 .checkmark:after {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #6255a5;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
</style>

<!-- Head -->
<section class="head">
    <div class="head-content">
        <div class="container">
            <div class="row">
                <div class="head-content-inner">
                    <div class="head-heading">
                        Add Notes
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head -->
<!-- Add Notes  -->

<section class="container">
    <!-- Basic Note Details -->
    @ViewBag.message
    <div class="row heading">
        <div class="col-md-12 p-0">
            <h1 class="title">Basic Note Details</h1>
        </div>
    </div>
    @using (Html.BeginForm("AddNotes", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, "Title *", new { @for = "inputTitle" })
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Enter your notes title", id = "inputTitle" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>

                @*<label for="file-image">Display Picture</label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-file.png" height="46" width="50" />
                            <div>Upload a picture</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.NoteTypeList, "Type", new { @for = "dropdownType", id = "type" })
                    @Html.DropDownListFor(model => model.NoteTypeList, new SelectList(ViewBag.NotesType, "Value", "Text"), "Select Your Note Type", new { @class = "form-control", id = "dropdownType" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Category, "Category *", new { @for = "dropdownCategory" })
                    @Html.DropDownListFor(model => model.Category, ViewBag.NotesCategory as SelectList, "--Select Your Note Category--", new { @class = "form-control", id = "dropdownCategory" })
                    @*@Html.DropDownListFor(model => model.Category, new SelectList(Model.NoteCategoriesList, "NoteCategoriesID", "Name"), "Select Your Note Category", new { @class = "form-control", id = "dropdownCategory" })*@
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>

                @*<label for="file-image">Upload Notes <span>*</span></label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-note.png" height="46" width="50" />
                            <div>Upload your notes</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfPages, "Number of Pages", new { @for = "inputNumberofPages", id = "noOfPages" })
                    @Html.TextBoxFor(model => model.NumberOfPages, new { @class = "form-control", placeholder = "Enter number of note pages", id = "inputNumberofPages" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group mb-0 p-0">
                    @Html.LabelFor(model => model.Description, "Description *", new { @for = "description" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter your description", id = "description" })
                </div>
            </div>
        </div>

        <!-- Institution Information -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" style="margin-top: 40px;">Institution Information</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CountryList, "Country", new { @for = "dropdownCountry" })
                    @Html.DropDownListFor(Model => Model.CountryList, new SelectList(ViewBag.Country, "Value", "Text"), "Select Your Country", new { @class = "form-control", @id = "dropdownCountry" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UniversityName, "Institution Name", new { @for = "institutionname" })
                    @Html.TextBoxFor(model => model.UniversityName, new { @class = "form-control", placeholder = "Enter your institution name", id = "institutionname" })
                </div>
            </div>
        </div>

        <!-- Course Details -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" style="margin-top: 40px;">Course Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Course, "Course Name", new { @for = "coursename" })
                    @Html.TextBoxFor(model => model.Course, new { @class = "form-control", placeholder = "Enter your course name", id = "coursename" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Professor, "Professor / Lecturer", new { @for = "proflecturer" })
                    @Html.TextBoxFor(model => model.Professor, new { @class = "form-control", placeholder = "Enter your professor name", id = "proflecturer" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseCode, "Course Code", new { @for = "coursecode" })
                    @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control", placeholder = "Enter your  course code", id = "coursecode" })
                </div>
            </div>
        </div>

        <!-- Selling Information -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" style="margin-top: 40px;">Selling Information</h1>
            </div>
        </div>

        <div class="row">
            <!--<div class="col-md-6">
                @Html.LabelFor(model => model.IsPaid, "Sell For *")
                <div class="form-group">
                    <div class="contact-inputs">
                        <label class="radio1">-->
                            <!--<input type="radio" checked="checked" name="radio" value="free">-->
                            <!--@Html.RadioButtonFor(model => model.IsPaid, true, new { @checked = "checked" })
                            <span class="checkmark"></span>
                            <label class="label-2">Free</label>
                        </label>
                        <label class="radio1">-->
                            <!--<input type="radio" name="radio" value="paid">-->
                            <!--@Html.RadioButtonFor(model => model.IsPaid, false)
                            <span class="checkmark"></span>
                            <label class="label-2">Paid</label>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SellingPrice, "Sell Price", new { @for = "sellPrice" })
                    @Html.TextBoxFor(model => model.SellingPrice, new { @class = "form-control", placeholder = "Enter your price", id = "sellPrice" })
                </div>
            </div>-->
            <div class="col-md-6">
                @*<label for="file-image">Note Preview</label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag" class="customInput">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-file.png" height="46" width="50" />
                            <div>Upload a file</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </div>*@
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button id="btnSubmit" type="submit" class="btn">SUBMIT</button>
            </div>

            <div class="form-group">
                <button id="btnPublish" type="submit" class="btn" style="margin-left: 30px;" formaction="@(ViewBag.Edit == true ? "Publish?id=" + Model.SellerNotesID : "Publish")">PUBLISH</button>
            </div>
        </div>
    }
</section>

<!-- End Add Notes   -->
