@model NotesMarketPlace.Models.AddNotesModel

@{
    ViewBag.Title = "AddNotes";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    label {
        margin-bottom: 10px !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
    }

    .form-group {
        margin-bottom: 30px !important;
    }

    #noOfPages,
    #type {
        margin-top: 20px !important;
    }

    textarea {
        border: 1px solid #d1d1d1;
        width: 1440px;
        height: 153px !important;
        border-radius: 3px;
    }

    #btnSubmit {
        margin-left: 15px;
    }
</style>

<!-- Head -->
<section class="head">
    <div class="head-content">
        <div class="container">
            <div class="row">
                <div class="head-content-inner">
                    <div class="head-heading">
                        Add Notes
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head -->
<!-- Add Notes  -->

<section class="container">
    <!-- Basic Note Details -->
    <div class="row heading">
        <div class="col-md-12 p-0">
            <h1 class="title">Basic Note Details</h1>
        </div>
    </div>
    @using (Html.BeginForm("AddNotes", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, "Title *", new { @for = "inputTitle" })
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Enter your notes title", id = "inputTitle" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>

                <label for="file-image">Display Picture</label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-file.png" height="46" width="50" />
                            <div>Upload a picture</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    <label id="type" for="dropdownType">Type</label>
                    @*@Html.DropDownListFor(model => model.NoteType, new SelectList(ViewBag.NotesType, "NoteTypesID", "Name"), "Select Your Note Type", new { @class = "form-control", id = "dropdownType" })*@
                    @Html.DropDownListFor(Model => Model.NoteType, new SelectList(ViewBag.NotesType, "Value", "Text"), "Select Your Note Type", new { @class = "form-control", @id = "dropdownType" })
                    @*@Html.DropDownListFor(model => model.NoteType, (SelectList)ViewBag.DropDownList, "---Select a value---", new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dropdownCategory">Category <span>*</span></label>
                    @*@Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.NotesCategory, "NoteCategoriesID", "Name"), "Select Your Note Category", new { @class = "form-control", id = "dropdownCategory" })*@
                    @Html.DropDownListFor(Model => Model.Category, new SelectList(ViewBag.NotesCategory, "text", "value"), "Select Your Note Category", new { @class = "form-control", @id = "dropdownCategory" })

                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>

                <label for="file-image">Upload Notes <span>*</span></label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-note.png" height="46" width="50" />
                            <div>Upload your notes</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfPages, "Number of Pages", new { @for = "inputNumberofPages", id = "noOfPages" })
                    @Html.TextBoxFor(model => model.NumberOfPages, new { @class = "form-control", placeholder = "Enter number of note pages", id = "inputNumberofPages" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group mb-0 p-0">
                    <label for="description">Description <span>*</span></label>
                    <textarea type="text" class="form-control" id="description"
                              placeholder="Enter your description"></textarea>
                </div>
            </div>
        </div>

        <!-- Institution Information -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" style="margin-top: 40px;">Institution Information</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dropdownCountry">Country</label>
                    @Html.DropDownListFor(Model => Model.Country, new SelectList(ViewBag.Country, "text", "value"), "Select Your Country", new { @class = "form-control", @id = "dropdownCountry" })
                    
                    @*@Html.DropDownListFor(model => model.CountryList, new SelectList(ViewBag.Country, "CountriesID", "Name"), "Select Your Country", new { @class = "form-control", id = "dropdownCountry" })*@
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="institutionname">Institution Name</label>
                    <input type="text" class="form-control" id="institutionname"
                           placeholder="Enter your institution name">
                </div>
            </div>
        </div>

        <!-- Course Details -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" style="margin-top: 40px;">Course Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="coursename">Course Name</label>
                    <input type="text" class="form-control" id="coursename" placeholder="Enter your course name">
                </div>
                <div class="form-group">
                    <label for="proflecturer">Professor / Lecturer</label>
                    <input type="email" class="form-control" id="proflecturer" aria-describedby="emailHelp"
                           placeholder="Enter your professor name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="coursecode">Course Code</label>
                    <input type="email" class="form-control" id="coursecode" aria-describedby="emailHelp"
                           placeholder="Enter your course code">
                </div>
            </div>
        </div>

        <!-- Selling Information -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="title" style="margin-top: 40px;">Selling Information</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Sell For <span>*</span></label>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                               class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Free</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                               class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Paid</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sellPrice">Sell Price</label>
                    <input type="email" class="form-control" id="sellPrice" aria-describedby="emailHelp"
                           placeholder="Enter your price">
                </div>
            </div>
            <div class="col-md-6">
                <label for="file-image">Note Preview</label>
                <div id="file-upload-form" class="uploader form-group">
                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
                    <label for="file-upload" id="file-drag" class="customInput">
                        <img id="file-image" src="#" alt="Preview" class="hidden">
                        <div id="start">
                            <img src="~/Content/images/upload-file.png" height="46" width="50" />
                            <div>Upload a file</div>
                            <div id="notimage" class="hidden">Please select an image</div>
                        </div>
                        <div id="response" class="hidden">
                            <div id="messages"></div>
                            <progress class="progress" id="file-progress" value="0">
                                <span>0</span>%
                            </progress>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button id="btnSubmit" type="submit" class="btn">SUBMIT</button>
            </div>

            <div class="form-group">
                <button id="btnPublish" type="submit" class="btn" style="margin-left: 30px;" formaction="@(ViewBag.Edit == true ? "Publish?id=" + Model.SellerNotesID : "Publish")">PUBLISH</button>
            </div>
        </div>
    }
</section>

<!-- End Add Notes   -->
