@model  List<NotesMarketPlace.Models.BuyerRequestModel>

@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!-- Content -->
<section id="content">
    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-sm-6 p-0">
                <h3 class="heading-1">Buyer Requests</h3>
            </div>

            <div class="col-md-6 col-sm-6 text-right search-1 p-0">
                <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
                <input class="input-search" type="search" placeholder="Search">
                <a class="btn btn-general">Search</a>
            </div>
        </div>

        <div class="row">
            <div class="table-top table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Sr No.</th>
                            <th scope="col">Note Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Phone no.</th>
                            <th scope="col">Sell Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Download Date/Time</th>
                            <th class="text-center" scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center">No Data Available</td>
                                </tr>
                            }
                            else
                            {
                                int count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td class="text-center" scope="row">@count</td>
                                        <td class="td-blue">@item.NoteTitle</td>
                                        <td>@item.NoteCategory</td>
                                        <td>@item.Downloader</td>
                                        <td>@item.Phone</td>
                                        <td>@item.IsPaid</td>
                                        <td>$@item.PurchasedPrice</td>
                                        <td>@item.AttachmentDownloadedDate.Value.ToString("dd MMMM, yyyy HH:mm:ss")</td>
                                        <td class="text-center">
                                            <img src="~/Content/images/eye.png" alt="eye-image">
                                        </td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Content/images/dots.png" alt="dot-image">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Yes, I Received</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 num">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- End Content -->
