@model  List<NotesMarketPlace.Models.BuyerRequestModel>

@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!-- Content -->
<section id="content">
    <div class="container">

        @using (Html.BeginForm("BuyerRequest", "Home", FormMethod.Post))
        {
            <div class="row heading">
                <div class="col-md-6 col-sm-6 p-0">
                    <h3 class="heading-1">Buyer Requests</h3>
                </div>

                <div class="col-md-6 col-sm-6 text-right search-1 p-0 form-group has-search">
                    <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
                    @Html.TextBox("txtSearch", null, new { @class = "form-control input-search", @placeholder = "Search" })
                    <button class="btn btn-general" type="submit">Search</button>
                </div>
            </div>
        }

        <div class="row">
            <div class="table-top table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Sr No.</th>
                            <th scope="col">
                                @Html.ActionLink("Note Title", "BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Category", "BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Phone no.</th>
                            <th scope="col">Sell Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Download Date/Time</th>
                            <th class="text-center" scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="9" style="text-align:center">No Data Available</td>
                                </tr>
                            }
                            else
                            {
                                int count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td class="text-center" scope="row">@count</td>
                                        <td class="td-blue">@item.NoteTitle</td>
                                        <td>@item.NoteCategory</td>
                                        <td>@item.Downloader</td>
                                        <td>@item.Phone</td>
                                        <td>@item.IsPaid</td>
                                        <td>$@item.PurchasedPrice</td>
                                        <td>@item.AttachmentDownloadedDate.Value.ToString("dd MMMM, yyyy HH:mm:ss")</td>
                                        <td class="text-center">
                                            <a href="@Url.Action("NoteDetails", "Home" , new { id=@item.NoteID })"><img src="~/Content/images/eye.png" alt="edit-image"></a>
                                        </td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Content/images/dots.png" alt="dot-image">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" onclick="Allow(@item.DownloadsID)">Yes, I Received</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @* Pagination *@
        @{
            double totalPages = ViewBag.TotalPages;

            <div class="row text-center">
                <div class="col-md-12 num">
                    <ul class="pagination justify-content-center">

                        @if (ViewBag.PageNumber == 1)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= totalPages; i++)
                        {
                            if (i == ViewBag.PageNumber)
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link active" })
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link" })
                                </li>
                            }
                        }

                        @if (ViewBag.PageNumber == totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("BuyerRequest", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

    </div>
</section>
<!-- End Content -->

<script>

    function View(id) {
        location.href = "../NoteDetails/" + id;
    }

    function Allow(id) {
        $.ajax({
            method: 'POST',
            url: 'AllowDownload',
            data: { id: id },
            success: function () {
                location.reload();
            },
            error: function () {
                alert("Try Again");
            }
        });
    }

</script>