@model List<NotesMarketPlace.Models.MyRejectedNotesModel>

@{
    ViewBag.Title = "MyRejectedNotes";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section CustomStyle
{
    <style>
        .cursor_pointer {
            cursor: pointer;
        }
    </style>
}

<section id="content">
    <div class="container">

        @using (Html.BeginForm("MyRejectedNotes", "Home", FormMethod.Post))
        {
            <div class="row heading">
                <div class="col-md-6 col-sm-6 p-0">
                    <h3 class="heading-1">My Rejected Notes</h3>
                </div>
                <div class="col-md-6 col-sm-6 text-right search-1 p-0 has-search">
                    <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
                    @Html.TextBox("txtSearch", null, new { @class = "form-control input-search", @placeholder = "Search" })
                    <button class="btn btn-general" type="submit">Search</button>
                </div>
            </div>
        }


        <div class="row">
            <div class="table-top table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Sr No.</th>
                            <th scope="col">
                                @Html.ActionLink("Note Title", "MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Category", "MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Remarks", "MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Remarks", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">Clone</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Available</td>
                                </tr>
                            }
                            else
                            {
                                int count = 0;
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td class="text-center" scope="row">@count</td>
                                        <td class="td-blue cursor_pointer" onclick="NoteDetail('@item.NoteId')">@item.Title</td>
                                        <td>@item.Category</td>
                                        <td>@item.Remark</td>
                                        <td class="td-blue cursor_pointer" onclick="Clone(@item.NoteId)">Clone</td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    <img src="../Content/images/dots.png" alt="dot-image">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="/Home/DownloadFile?noteid=@item.NoteId">Download Notes</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @* Pagination *@
        @{
            double totalPages = ViewBag.TotalPages;

            <div class="row text-center">
                <div class="col-md-12 num">
                    <ul class="pagination justify-content-center">

                        @if (ViewBag.PageNumber == 1)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= totalPages; i++)
                        {
                            if (i == ViewBag.PageNumber)
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link active" })
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link" })
                                </li>
                            }
                        }

                        @if (ViewBag.PageNumber == totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("MyRejectedNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

    </div>
</section>
@section CustomScript
{
    <script>
        function Clone(id) {
            location.href = "CloneNote?noteId=" + id;
        }
        function NoteDetail(id) {
            location.href = "../Home/NoteDetails/" + id + "?ReadOnly=false";
        }
    </script>
}