
@model IEnumerable<NotesMarketPlace.Models.SearchNotesModel>
@using NotesMarketPlace.Models

@{
    ViewBag.Title = "SearchNotes";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!-- Head -->
<section class="head">
    <div class="head-content">
        <div class="container">
            <div class="row">
                <div class="head-content-inner">
                    <div class="head-heading">
                        Search Notes
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head -->
<!-- Search  -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">Search and Filter notes</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("SearchNotes", "Home", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-search">
                            <img src="~/Content/images/search-icon.png" alt="search">
                            <input type="search" id="Search" class="form-control filters" placeholder="Search notes here...">
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Type", new SelectList(ViewBag.TypeList, "NoteTypesID", "Name"), "Select Type", new { @class = "form-control" })
                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Category", new SelectList(ViewBag.CategoryList, "NoteCategoriesID", "Name"), "Select Category", new { @class = "form-control" })
                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("University", new SelectList(ViewBag.University), "Select University", new { @class = "form-control" })

                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Course", new SelectList(ViewBag.Course), "Select Course", new { @class = "form-control" })

                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Country", new SelectList(ViewBag.Country, "CountriesID", "Name"), "Select Country", new { @class = "form-control" })
                </div>
                <div class="col-md-2 col-sm-6">
                    <select class="form-control" id="Rating">
                        <option value="">Select rating</option>
                        <option value="1">1 +</option>
                        <option value="2">2 +</option>
                        <option value="3">3 +</option>
                        <option value="4">4 +</option>
                        <option value="5">5 +</option>
                    </select>
                </div>
            </div>
        </div>
    </div><div class="row">
        <div class="col-md-12">
            <h1 class="title">Total 18 notes</h1>
        </div>
    </div><div class="row row-cols-1 row-cols-md-3">
        @foreach (var item in Model)
        {
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search2.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    @Html.DisplayFor(modelItem => item.UniversityName)
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    @Html.DisplayFor(modelItem => item.PublishedDate)
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            @*@{ for (int j = 5; j > 0; j--)
                                    {
                                        if (j == item.Rating)
                                        {
                                            <input type="radio" name="bookrate @Note.Id" value="@j" checked /><label></label> }
                                        else
                                        {
                                            <input type="radio" name="bookrate @Note.Id" value="@j" /><label></label> }

                                    }
                                }*@
                            <input type="radio" id="star5.1" name="rate" value="5" />
                            <label for="star5.1" title="text">5 stars</label>
                            <input type="radio" id="star4.1" name="rate" value="4" />
                            <label for="star4.1" title="text">4 stars</label>
                            <input type="radio" id="star3.1" name="rate" value="3" />
                            <label for="star3.1" title="text">3 stars</label>
                            <input type="radio" id="star2.1" name="rate" value="2" />
                            <label for="star2.1" title="text">2 stars</label>
                            <input type="radio" id="star1.1" name="rate" value="1" />
                            <label for="star1.1" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
        }
        @*<div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search2.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.1" name="rate" value="5" />
                            <label for="star5.1" title="text">5 stars</label>
                            <input type="radio" id="star4.1" name="rate" value="4" />
                            <label for="star4.1" title="text">4 stars</label>
                            <input type="radio" id="star3.1" name="rate" value="3" />
                            <label for="star3.1" title="text">3 stars</label>
                            <input type="radio" id="star2.1" name="rate" value="2" />
                            <label for="star2.1" title="text">2 stars</label>
                            <input type="radio" id="star1.1" name="rate" value="1" />
                            <label for="star1.1" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search3.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.2" name="rate" value="5" />
                            <label for="star5.2" title="text">5 stars</label>
                            <input type="radio" id="star4.2" name="rate" value="4" />
                            <label for="star4.2" title="text">4 stars</label>
                            <input type="radio" id="star3.2" name="rate" value="3" />
                            <label for="star3.2" title="text">3 stars</label>
                            <input type="radio" id="star2.2" name="rate" value="2" />
                            <label for="star2.2" title="text">2 stars</label>
                            <input type="radio" id="star1.2" name="rate" value="1" />
                            <label for="star1.2" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search4.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.3" name="rate" value="5" />
                            <label for="star5.3" title="text">5 stars</label>
                            <input type="radio" id="star4.3" name="rate" value="4" />
                            <label for="star4.3" title="text">4 stars</label>
                            <input type="radio" id="star3.3" name="rate" value="3" />
                            <label for="star3.3" title="text">3 stars</label>
                            <input type="radio" id="star2.3" name="rate" value="2" />
                            <label for="star2.3" title="text">2 stars</label>
                            <input type="radio" id="star1.3" name="rate" value="1" />
                            <label for="star1.3" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search5.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.4" name="rate" value="5" />
                            <label for="star5.4" title="text">5 stars</label>
                            <input type="radio" id="star4.4" name="rate" value="4" />
                            <label for="star4.4" title="text">4 stars</label>
                            <input type="radio" id="star3.4" name="rate" value="3" />
                            <label for="star3.4" title="text">3 stars</label>
                            <input type="radio" id="star2.4" name="rate" value="2" />
                            <label for="star2.4" title="text">2 stars</label>
                            <input type="radio" id="star1.4" name="rate" value="1" />
                            <label for="star1.4" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search6.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.5" name="rate" value="5" />
                            <label for="star5.5" title="text">5 stars</label>
                            <input type="radio" id="star4.5" name="rate" value="4" />
                            <label for="star4.5" title="text">4 stars</label>
                            <input type="radio" id="star3.5" name="rate" value="3" />
                            <label for="star3.5" title="text">3 stars</label>
                            <input type="radio" id="star2.5" name="rate" value="2" />
                            <label for="star2.5" title="text">2 stars</label>
                            <input type="radio" id="star1.5" name="rate" value="1" />
                            <label for="star1.5" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search1.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.6" name="rate" value="5" />
                            <label for="star5.6" title="text">5 stars</label>
                            <input type="radio" id="star4.6" name="rate" value="4" />
                            <label for="star4.6" title="text">4 stars</label>
                            <input type="radio" id="star3.6" name="rate" value="3" />
                            <label for="star3.6" title="text">3 stars</label>
                            <input type="radio" id="star2.6" name="rate" value="2" />
                            <label for="star2.6" title="text">2 stars</label>
                            <input type="radio" id="star1.6" name="rate" value="1" />
                            <label for="star1.6" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search2.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.7" name="rate" value="5" />
                            <label for="star5.7" title="text">5 stars</label>
                            <input type="radio" id="star4.7" name="rate" value="4" />
                            <label for="star4.7" title="text">4 stars</label>
                            <input type="radio" id="star3.7" name="rate" value="3" />
                            <label for="star3.7" title="text">3 stars</label>
                            <input type="radio" id="star2.7" name="rate" value="2" />
                            <label for="star2.7" title="text">2 stars</label>
                            <input type="radio" id="star1.7" name="rate" value="1" />
                            <label for="star1.7" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="~/Content/images/search3.png" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="NoteDetails.html" style="color: #6655a5">
                                Computer Operating System - Final Exam Book
                                With Paper Solution
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content">
                                    University of California, US
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content">
                                    204 Pages
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content">
                                    Thu, Nov 26 2020
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    5 Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="rate">
                            <input type="radio" id="star5.8" name="rate" value="5" />
                            <label for="star5.8" title="text">5 stars</label>
                            <input type="radio" id="star4.8" name="rate" value="4" />
                            <label for="star4.8" title="text">4 stars</label>
                            <input type="radio" id="star3.8" name="rate" value="3" />
                            <label for="star3.8" title="text">3 stars</label>
                            <input type="radio" id="star2.8" name="rate" value="2" />
                            <label for="star2.8" title="text">2 stars</label>
                            <input type="radio" id="star1.8" name="rate" value="1" />
                            <label for="star1.8" title="text">1 star</label>
                        </div>
                        100 reviews
                    </div>
                </div>
            </div>*@
    </div>

    <div class="row text-center">
        <div class="col-md-12 num">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                    </a>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>
<!-- End Search   -->
