
@model IEnumerable<NotesMarketPlace.Models.SearchNotesModel>

@{
    ViewBag.Title = "SearchNotes";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    .filter-search .form-control {
        padding-left: 2.375rem;
        margin-right: 10px;
    }

    .filter-search .form-control-feedback {
        display: block;
        width: 1.375rem;
        height: 1.375rem;
        line-height: 1.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .filter-search img {
        position: absolute;
        top: 7px;
        left: 9px;
    }

    /*    ratings     */

    .rate {
        float: left;
        padding: 0 1px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 25px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

    .ratings p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #333333;
        position: relative;
        top: 8px;
        left: 5px;
    }
</style>

<!-- Head -->
<section class="head">
    <div class="head-content">
        <div class="container">
            <div class="row">
                <div class="head-content-inner">
                    <div class="head-heading">
                        Search Notes
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head -->
<!-- Search  -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">Search and Filter notes</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("SearchNotes", "Home", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-search">
                            <img src="~/Content/images/search-icon.png" alt="search" class="form-control-feedback">
                            <input id="search" class="form-control input-search" placeholder="Search notes here..." onkeyup=" SearchNotes()">
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Type", new SelectList(ViewBag.TypeList, "NoteTypesID", "Name"), "Select Type", new { @class = "form-control", onchange = "myFunc(this)" })
                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Category", new SelectList(ViewBag.CategoryList, "NoteCategoriesID", "Name"), "Select Category", new { @class = "form-control", onchange = "myFunc(this)" })
                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("University", new SelectList(ViewBag.University), "Select University", new { @class = "form-control", onchange = "myFunc(this)" })

                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Course", new SelectList(ViewBag.Course), "Select Course", new { @class = "form-control", onchange = "myFunc(this)" })

                </div>
                <div class="col-md-2 col-sm-6">
                    @Html.DropDownList("Country", new SelectList(ViewBag.Country, "CountriesID", "Name"), "Select Country", new { @class = "form-control", onchange = "myFunc(this)" })
                </div>
                <div class="col-md-2 col-sm-6">
                    <select class="form-control" id="Rating" onchange="myFunc(this)">
                        <option value="">Select rating</option>
                        <option value="1">1 +</option>
                        <option value="2">2 +</option>
                        <option value="3">3 +</option>
                        <option value="4">4 +</option>
                        <option value="5">5 +</option>
                    </select>
                </div>
            </div>
        </div>
    </div><div class="row">
        <div class="col-md-12">
            <h1 class="title">Total @Model.Count() notes</h1>
        </div>
    </div><div class="row row-cols-1 row-cols-md-3">
        @foreach (var item in Model)
        {
            <div class="col mb-4 note-title">
                <div class="card">
                    <img src="@Url.Content(item.DisplayPicture)" class="card-img-top" alt="note-image">
                    <div class="card-body">
                        <div class="card-title ">
                            <a href="NoteDetails.html" style="color: #6655a5" data-toggle="tooltip" data-placement="bottom" data-original-title="Title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </div>
                        <div class="card-text">
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/university.png" alt="images">
                                </span>
                                <span class="span-content" data-toggle="tooltip" data-placement="bottom" data-original-title="University">
                                    @Html.DisplayFor(modelItem => item.UniversityName)
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/pages.png" alt="images">
                                </span>
                                <span class="span-content" data-toggle="tooltip" data-placement="bottom" data-original-title="Pages">
                                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/date.png" alt="images">
                                </span>
                                <span class="span-content" data-toggle="tooltip" data-placement="bottom" data-original-title="Published Date">
                                    @item.PublishedDate.Value.ToString("dd/MM/yyyy")
                                </span>
                            </div>
                            <div class="card-content">
                                <span class="icon-images">
                                    <img src="~/Content/images/flag.png" alt="images">
                                </span>
                                <span class="span-content text-danger">
                                    @(item.TotalSpams) Users marked this note as inappropriate
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent ratings">
                        <div class="rate">

                            @{
                                for (int j = 5; j > 0; j--)
                                {
                                    if (j == item.Reviews)
                                    {
                                        <input type="radio" name="bookrate @item.SellerNotesID" value="@j" checked /><label></label>
                                    }
                                    else
                                    {
                                        <input type="radio" name="bookrate @item.SellerNotesID" value="@j" /><label></label>
                                    }

                                }
                            }

                            @*<input type="radio" id="star5.1" name="" value="5" />
                                <label for="star5.1" title="text">5 stars</label>
                                <input type="radio" id="star4.1" name="rate" value="4" />
                                <label for="star4.1" title="text">4 stars</label>
                                <input type="radio" id="star3.1" name="rate" value="3" />
                                <label for="star3.1" title="text">3 stars</label>
                                <input type="radio" id="star2.1" name="rate" value="2" />
                                <label for="star2.1" title="text">2 stars</label>
                                <input type="radio" id="star1.1" name="rate" value="1" />
                                <label for="star1.1" title="text">1 star</label>*@
                        </div>
                        @(item.TotalReviews) reviews
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row text-center">
        <div class="col-md-12 num">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                    </a>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>
<!-- End Search   -->

<script>
    var type, category, university, course, country, rating;

    function myFunc(obj) {

        var data = {};

        if (obj.id == "Type") {
            type = obj.value;
        }
        if (obj.id == "Category") {
            category = obj.value;
        }
        if (obj.id == "University") {
            university = obj.value;
        }
        if (obj.id == "Course") {
            course = obj.value;
        }
        if (obj.id == "Country") {
            country = obj.value;
        }
        if (obj.id == "Rating") {
            rating = obj.value;
        }


        if (type != null) {
            data.Type = type;
        }
        if (category != null) {
            data.Category = category;
        }
        if (university != null) {
            data.University = university;
        }
        if (course != null) {
            data.Course = course;
        }
        if (country != null) {
            data.Country = country;
        }
        if (rating != null) {
            data.Rating = rating;
        }

        console.log(data);

        $.ajax({
            method: 'GET',
            url: '',
            data: data,
            success: function (data) {
                document.body.innerHTML = data;
            },
            error: function () {
                alert("Try Again");
            }
        });
    }

    //function SearchNotes() {
    //    let input = document.getElementById('search').value
    //    input = input.toLowerCase();
    //    let x = document.getElementsByClassName('note-title');

    //    for (i = 0; i < x.length; i++) {
    //        if (!x[i].innerHTML.toLowerCase().includes(input)) {
    //            x[i].style.display = "none";
    //        }
    //        else {
    //            x[i].style.display = "list-item";
    //        }
    //    }
    //}

</script>