@*@model IEnumerable<NotesMarketPlace.Models.SellerNotesModel>*@

@{
    ViewBag.Title = "SellYourNotes";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<style>
    /* =======================================================================
                                Card
    ======================================================================= */
    .card {
        height: 151px;
        border: 1px solid #d1d1d1;
    }

    .card-count {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 34px;
        color: #6255a5;
    }

    .my-earning {
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        color: #6255a5;
    }

    .count-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: #333333;
    }
</style>

<!-- Content -->
<section id="content">
    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-sm-6 p-0">
                <h3 class="heading-1">Dashboard</h3>
            </div>

            <div class="col-md-6 col-sm-6 text-right p-0">
                <a class="btn btn-general" role="button" href="@Url.Action("AddNotes", "Home")">Add Note</a>
            </div>
        </div>

        <div class="row" style="margin-bottom: 60px;">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-center">
                                <img src="~/Content/images/my-earning.png" alt="my-earning">
                            </p>
                            <p class="text-center my-earning">My Earning</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center card-count">
                                @ViewBag.SoldNotes
                            </h4>
                            <p class="text-center count-text">Number of Notes Sold</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center card-count">
                                $ @ViewBag.Earning
                            </h4>
                            <p class="text-center count-text">Money Earned</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center card-count">
                                    @ViewBag.DownloadNotes
                                </h4>
                                <p class="text-center count-text">My Download</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center card-count">
                                    @ViewBag.RejectedNotes
                                </h4>
                                <p class="text-center count-text">My Rejected Notes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center card-count">
                                    @ViewBag.BuyerRequest
                                </h4>
                                <p class="text-center count-text">Buyer Requests</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("SellYourNotes", "Home", FormMethod.Post))
        {
            <div class="row heading">
                <div class="col-md-6 col-sm-6 p-0">
                    <h3 class="heading-1">In Progress Notes</h3>
                </div>

                <div class="col-md-6 col-sm-6 text-right search-1 p-0 form-group has-search">
                    <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
                    @Html.TextBox("txtSearch1", null, new { @class = "form-control input-search", @placeholder = "Search" })
                    <button class="btn btn-general" type="submit">Search</button>
                </div>

            </div>
        }

        <div class="row">
            <div class="table-top table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.ActionLink("Added Date", "SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Added Date", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Title", "SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                            <th class="text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.ProgressNotes.Count == 0)
                            {
                                <tr>
                                    <td colspan="5" style="text-align:center">No Data Available</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in ViewBag.ProgressNotes)
                                {
                                    using (Html.BeginForm("Delete", "Home", new { id = @item.Id }))
                                    {
                                        if (item.Status == "Draft")
                                        {
                                            <tr>
                                                <td scope="row">@item.AddedDate</td>
                                                <td class="td-blue">@item.Title</td>
                                                <td>@item.Category</td>
                                                <td>@item.Status</td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("EditNote", "Home", new { id = @item.Id})"><img src="~/Content/images/edit.png" alt="edit-image"></a>
                                                    <button type="submit" class="customButton" onclick="return confirm('Are you sure you want to delete @item.Title Book')">
                                                        <img src="~/Content/images/delete.png" alt="delete">
                                                    </button>

                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td scope="row">@item.AddedDate</td>
                                                <td class="td-blue">@item.Title</td>
                                                <td>@item.Category</td>
                                                <td>@item.Status</td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("NoteDetails", "Home" , new { id=@item.Id })"><img src="~/Content/images/eye.png" alt="edit-image"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @* Pagination *@
        @{
            double totalPages = ViewBag.TotalPages;

            <div class="row text-center">
                <div class="col-md-12 num">
                    <ul class="pagination justify-content-center">

                        @if (ViewBag.PageNumber == 1)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= totalPages; i++)
                        {
                            if (i == ViewBag.PageNumber)
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link active" })
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link" })
                                </li>
                            }
                        }

                        @if (ViewBag.PageNumber == totalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("SellYourNotes", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }


        @using (Html.BeginForm("SellYourNotes", "Home", FormMethod.Post))
        {
            <div class="row heading">
                <div class="col-md-6 col-sm-6 p-0">
                    <h3 class="heading-1">Published Notes</h3>
                </div>

                <div class="col-md-6 col-sm-6 text-right search-1 p-0 form-group has-search">
                    <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
                    @Html.TextBox("txtSearch2", null, new { @class = "form-control input-search", @placeholder = "Search" })
                    <button class="btn btn-general" type="submit">Search</button>
                </div>
            </div>
        }

        <div class="row">
            <div class="table-top table-responsive">

                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.ActionLink("Added Date", "SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : (ViewBag.SortOrder2 == "Asc" ? "Desc" : "Asc"), SortBy2 = "Added Date", PageNumber2 = ViewBag.PageNumber2 == 0 ? 1 : ViewBag.PageNumber2 }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Title", "SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : (ViewBag.SortOrder2 == "Asc" ? "Desc" : "Asc"), SortBy2 = "Title", PageNumber2 = ViewBag.PageNumber2 == 0 ? 1 : ViewBag.PageNumber2 }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                            </th>
                            <th scope="col">Category</th>
                            <th scope="col">Sell Type</th>
                            <th scope="col">Price</th>
                            <th class="text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.PublishedNotes.Count == 0)
                            {
                                <tr>
                                    <td colspan="6" style="text-align:center">No Data Available</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in ViewBag.PublishedNotes)
                                {
                                    <tr>
                                        <td scope="row">@item.AddedDate</td>
                                        <td class="td-blue">@item.Title</td>
                                        <td>@item.Category</td>
                                        <td>@item.SellType</td>
                                        <td>$@item.Price</td>
                                        <td class="text-center">
                                            <a href="@Url.Action("NoteDetails", "Home" , new { id=@item.Id })"><img src="~/Content/images/eye.png" alt="edit-image"></a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>

        @* Pagination *@
        @{
            double totalPages2 = ViewBag.TotalPages2;

            <div class="row text-center">
                <div class="col-md-12 num">
                    <ul class="pagination justify-content-center">

                        @if (ViewBag.PageNumber2 == 1)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : ViewBag.SortOrder2, SortBy2 = ViewBag.SortBy2 == null ? "Title" : ViewBag.SortBy2, PageNumber2 = ViewBag.PageNumber2 })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" href="@Url.Action("SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : ViewBag.SortOrder2, SortBy2 = ViewBag.SortBy2 == null ? "Title" : ViewBag.SortBy2, PageNumber2 = ViewBag.PageNumber2 - 1 })">
                                    <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= totalPages2; i++)
                        {
                            if (i == ViewBag.PageNumber2)
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : ViewBag.SortOrder2, SortBy2 = ViewBag.SortBy2 == null ? "Title" : ViewBag.SortBy2, PageNumber2 = i }, htmlAttributes: new { @class = "page-link active" })
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink(i.ToString(), "SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : ViewBag.SortOrder2, SortBy2 = ViewBag.SortBy2 == null ? "Title" : ViewBag.SortBy2, PageNumber2 = i }, htmlAttributes: new { @class = "page-link" })
                                </li>
                            }
                        }

                        @if (ViewBag.PageNumber2 == totalPages2)
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : ViewBag.SortOrder2, SortBy2 = ViewBag.SortBy2 == null ? "Title" : ViewBag.SortBy2, PageNumber2 = ViewBag.PageNumber2 })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" href="@Url.Action("SellYourNotes", new { SortOrder2 = ViewBag.SortOrder2 == null ? "Asc" : ViewBag.SortOrder2, SortBy2 = ViewBag.SortBy2 == null ? "Title" : ViewBag.SortBy2, PageNumber2 = ViewBag.PageNumber2 + 1 })">
                                    <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

    </div>
</section>
