@model List<NotesMarketPlace.Models.Admin.MemberNoteModel>

@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row heading">
    <div class="col-md-12 p-0">
        <h3 class="heading-1">Member Details</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-2">
        <img src="/@ViewBag.Details.ProfileImage" alt="member-image" style=" width: 175px; ">
    </div>
    <div class="col-md-5 col-sm-4">
        <div class="row">
            <div class="col-md-5 td-1">
                First Name:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.FirstName
            </div>
            <div class="col-md-5 td-1">
                Last Name:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.LastName
            </div>
            <div class="col-md-5 td-1">
                Email:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.Email
            </div>
            <div class="col-md-5 td-1">
                DOB:
            </div>
            <div class="col-md-7 td-3">
                @(ViewBag.Details.DOB ?? "N/A")
            </div>
            <div class="col-md-5 td-1">
                Phone Number:
            </div>
            <div class="col-md-7 td-3">
                @(ViewBag.Details.Phone ?? "N/A")
            </div>
            <div class="col-md-5  td-1">
                College/University:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.University
            </div>
        </div>
    </div>
    <span class="vertical-line"></span>
    <div class="col-md-4 col-sm-4">
        <div class="row">
            <div class="col-md-5 td-1">
                Address 1:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.Address1
            </div>
            <div class="col-md-5 td-1">
                Address 2:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.Address2
            </div>
            <div class="col-md-5 td-1">
                City:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.City
            </div>
            <div class="col-md-5 td-1">
                State:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.State
            </div>
            <div class="col-md-5 td-1">
                Country:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.Country
            </div>
            <div class="col-md-5  td-1">
                Zip Code:
            </div>
            <div class="col-md-7 td-3">
                @ViewBag.Details.Zipcode
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row heading">
    <div class="col-md-12 p-0">
        <h3 class="heading-1">Notes</h3>
    </div>
</div>

<div class="row">
    <div class="table-top table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Sr No.</th>
                    <th scope="col">
                        @Html.ActionLink("Note Title", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Category", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Status", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Status", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Downloaded Notes", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "DownloadedNotes", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Total Earnings", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "TotalEarnings", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Date Added", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "DateAdded", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Published Date", "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "PublishedDate", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="9" style="text-align:center;">No Record Found</td>
                        </tr>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td scope="row" class="text-center">@count</td>
                                <td class="td-blue cursor_pointer" onclick="NoteDetail('@item.NoteId')">@item.Title</td>
                                <td>@item.Category</td>
                                <td>@item.Status</td>
                                <td class="text-center td-text cursor_pointer" onclick="DownloadedNotesWithID('@item.NoteId')">@item.DownloadedNote</td>
                                <td>$@(item.Earning ?? 0)</td>
                                <td>@item.DateAdded.Value.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td>@(item.PublishedDate == null ? "N/A" : @item.PublishedDate.GetValueOrDefault().ToString("dd-MM-yyyy, HH:mm"))</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="~/Content/images/dots.png" alt="dot-image">
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item cursor_pointer" href="/Admin/DownloadFile?noteid=@item.NoteId">Download Notes</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@* Pagination *@
@{
    double totalPages = ViewBag.TotalPages;

    <div class="row text-center">
        <div class="col-md-12 num">
            <ul class="pagination justify-content-center">

                @if (ViewBag.PageNumber == 1)
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="@Url.Action("MemberDetails", new { id=ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                            <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="@Url.Action("MemberDetails", new { id=ViewBag.UserID,SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })">
                            <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                        </a>
                    </li>
                }

                @for (int i = 1; i <= totalPages; i++)
                {
                    if (i == ViewBag.PageNumber)
                    {
                        <li class="page-item">
                            @Html.ActionLink(i.ToString(), "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link active" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(i.ToString(), "MemberDetails", new { id = ViewBag.UserID, SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link" })
                        </li>
                    }
                }

                @if (ViewBag.PageNumber == totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="@Url.Action("MemberDetails", new { id=ViewBag.UserID,SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                            <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="@Url.Action("MemberDetails", new { id=ViewBag.UserID,SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })">
                            <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

@section CustomScript
{
    <script>
        function Downloaded(id) {
            location.href = "DownloadedNotes?noteId=" + id;
        }

        function NoteDetail(id) {
            location.href = "../Home/NoteDetails/" + id;
        }
        function DownloadedNotesWithID(id) {
            location.href = '../Admin/DownloadedNotes?noteid=' + id;
        }
    </script>
}