@model List<NotesMarketPlace.Models.Admin.SpamNotesModel>

@{
    ViewBag.Title = "SpamReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row heading">
    <div class="col-md-6 col-sm-6 p-0">
        <h3 class="heading-1">Spam Reports</h3>
    </div>

    @using (Html.BeginForm("SpamReports", "Admin", FormMethod.Post, new { @class = "col-md-6 col-sm-6 text-right search-1 p-0 has-search" }))
    {
        <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
        @Html.TextBox("txtSearch", null, new { @class = "form-control input-search", @placeholder = "Search" })
        <button class="btn btn-general" type="submit">Search</button>
    }
</div>

<div class="row">
    <div class="table-top table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Sr No.</th>
                    <th scope="col">Reported By</th>
                    <th scope="col">
                        @Html.ActionLink("Note Title", "SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Category", "SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, htmlAttributes: new { @style = "color:#6255a5 !important;" })
                    </th>
                    <th scope="col">Date Edited</th>
                    <th scope="col">Remark</th>
                    <th class="text-center" scope="col">Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8" style="text-align:center;">No record found</td>
                        </tr>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td class="text-center" scope="row">@count</td>
                                <td>@item.ReportedBy</td>
                                <td class="td-blue" style="cursor:pointer;" onclick="NoteDetail('@item.NoteId')">@item.Title</td>
                                <td>@item.Category</td>
                                <td>@item.DateAdded.Value.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td>@item.Remarks</td>
                                <td class="text-center">
                                    <img src="~/Content/images/delete.png" alt="eye-image" onclick="DeleteSpam('@item.ID')">
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="~/Content/images/dots.png" alt="dot-image">
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="/Admin/DownloadFile?noteid=@item.NoteId">Download Notes</a>
                                            <a class="dropdown-item" onclick="NoteDetail(@item.NoteId)">View More Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@* Pagination *@
@{
    double totalPages = ViewBag.TotalPages;

    <div class="row text-center">
        <div class="col-md-12 num">
            <ul class="pagination justify-content-center">

                @if (ViewBag.PageNumber == 1)
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="@Url.Action("SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                            <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="@Url.Action("SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 })">
                            <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                        </a>
                    </li>
                }

                @for (int i = 1; i <= totalPages; i++)
                {
                    if (i == ViewBag.PageNumber)
                    {
                        <li class="page-item">
                            @Html.ActionLink(i.ToString(), "SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link active" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink(i.ToString(), "SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = i }, htmlAttributes: new { @class = "page-link" })
                        </li>
                    }
                }

                @if (ViewBag.PageNumber == totalPages)
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="@Url.Action("SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber })">
                            <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="@Url.Action("SpamReports", new { SortOrder = ViewBag.SortOrder == null ? "Asc" : ViewBag.SortOrder, SortBy = ViewBag.SortBy == null ? "Title" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 })">
                            <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<script>
    function NoteDetail(id) {
        location.href = "../Home/NoteDetails/" + id;
    }

    function DeleteSpam(id) {
        $.ajax({
            method: 'POST',
            url: 'DeleteSpamReport',
            data: { Id: id },
            success: function () {
                location.reload();
            },
            error: function () {
                alert("Try Again");
            }
        });
    }
</script>