
@model NotesMarketPlace.Models.ChangePasswordModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>

    <!-- Fav icon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Account/signup.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/AdminPanel/css/responsive.css">

    <style>
        .heading p {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <!-- Change password -->
    <div class="main-wrap">
        <div class="container-login" style="background-image: url('../../Content/images/banner-with-overlay.jpg');">

            <div class="wrap-login">

                <a class="login-form-title" href="@Url.Action("Home", "Home")">
                    <img src="~/Content/images/top-logo.png" alt="Logo" class="img-fluid">
                </a>

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "login-form" }))
                {

                    @Html.AntiForgeryToken()

                    <div class="heading">
                        <h4 class="text-center">Change Password</h4>
                        <p class="text-center">Enter your new password to change your password</p>
                    </div>

                    if (ViewBag.Show)
                    {
                        <p class="form-text text-center" style="color: @ViewBag.Color;">@ViewBag.Message</p>
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, "Old Password")
                        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password", placeholder = "Enter your old Password", id = "OldPassword" })
                        <img src="~/Content/images/eye.png" class="field-icon toggle-password" toggle="#OldPassword" alt="eye-image">
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, "New Password")
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password", placeholder = "Enter your new Password", id = "NewPassword" })
                        <img src="~/Content/images/eye.png" class="field-icon toggle-password" toggle="#NewPassword" alt="eye-image">
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password")
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "Enter your confirm Password", id = "ConfirmPassword" })
                        <img src="~/Content/images/eye.png" class="field-icon toggle-password" toggle="#ConfirmPassword" alt="eye-image">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", id = "validation-msg-pass" })
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg btn-block" id="login-btn" value="SUBMIT" style="border-color: #6255a5" />}
            </div>
        </div>
    </div>
    <!-- Change password end -->
    <!-- JQuery -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/FrontPanel/js/script.js"></script>

    <script>
        $('#ConfirmPassword').keyup(function () {
            if ($(this).val() != $('#NewPassword').val()) {
                $('#validation-msg-pass').css('display', 'block');
                $('.btn-submit').prop('disabled', true);
            } else {
                $('#validation-msg-pass').css('display', 'none');
                $('.btn-submit').prop('disabled', false);
            }
        });
    </script>
</body>
</html>
